<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <a
    class="nav-item text-white nav-link active navbar-brand"
    routerLink="about"
    >MiBank</a
  >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about"><i class="bi bi-house-fill"></i> Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" *ngIf="isLogged"  routerLink="clients"><i class="bi bi-list-ul"></i> Clients</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link"*ngIf="!isLogged"  routerLink="login"><i class="bi bi-box-arrow-in-right"></i> Log in</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" *ngIf="isLogged" style="cursor: pointer;" (click)="onLogOut()"><i class="bi bi-box-arrow-left" ></i> Log out</a>
          </li>
        
      </ul>
    </div>
  </nav>
</header>
<main>
  <router-outlet> </router-outlet>
</main>
<footer>
  <app-footer></app-footer>
</footer>
