<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="shadow rounded p-3 mb-4 d-flex flex-column">
        <form [formGroup]="clientForm">
          <div class="mb-3">
            <label class="form-label" for="identificationType">Type</label>

            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="identificationType"
              name="identificationType"
            >
              <option >Select an option</option>
              <option value="NIT">NIT</option>
              <option value="CC">Cedula ciudadania</option>
              <option value="PASSPORT">Pasaporte</option>
              <option value="T.I">Tarjeta Identidad</option>
              <option value="CE">Cedula Extranjeria</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="identification"
              >Identification</label
            >
            <input
              type="number"
              class="form-control"
              id="identification"
              formControlName="identification"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input class="form-control" formControlName="firstName" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input class="form-control" formControlName="lastName" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" formControlName="email" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="birthdate">Birthdate</label>
            <input
              type="date"
              class="form-control"
              formControlName="birthdate"
            />
          </div>
        </form>
        <div class="mb-3">
          <button
            (click)="updateClient()"
            type="button"
            class="btn rounded-pill btn-primary me-3"
          ><i class="bi bi-pencil-square"></i>
            Edit
          </button>
          <button (click)="deleteClient()" type="button" class="btn rounded-pill btn-danger"><i class="bi bi-person-x"></i>
            Delete
          </button>
        </div>
        <div
        class="mt-3"
          *ngIf="editAlert"
          type="success"
          class="alert alert-success"
          role="alert"
        >
        <i class="bi bi-check-circle-fill"></i> Client Edited
        </div>

        <div
        class="mt-3"
          *ngIf="deleteAlert"
          type="danger"
          class="alert alert-danger"
          role="alert"
        >
        <i class="bi bi-x-circle-fill"></i> Cliente Eliminado
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <app-accounts></app-accounts>
    </div>
  </div>
</div>
