<div class="container">
  <div class="shadow rounded p-3 d-flex flex-column">
    <h1>Productos</h1>
    <div
      *ngIf="createdAlert"
      type="success"
      class="alert alert-success"
      role="alert"
    >
    <i class="bi bi-check-circle-fill"></i> Cuenta Creada
    </div>

    <div class="text-start py-3">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-controls="collapseExample"
        aria-expanded="false"
      >
        <h5><i class="bi bi-piggy-bank-fill"></i> Abrir Producto</h5>
      </button>
    </div>

    <div class="collapse mb-5" id="collapseExample">
      <div class="card card-body">
        <form [formGroup]="accountForm">
          <div class="mb-3">
            <label class="form-label" for="account_type">Tipo</label>

            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="account_type"
              name="account_type"
            >
              <option value="msg">Seleccione una opcion</option>
              <option value="SAVING">Ahorro</option>
              <option value="CHECKING">Corriente</option>
            </select>
          </div>
        </form>
        <div class="mt-3">
          <button
            (click)="createAccount()"
            type="button"
            class="btn btn-primary"
          >
            Crear
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="emptyAlert">
      <div class="card" style="width: auto">
        <div class="card card-body">
          <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-octagon-fill"></i> Usted no tiene
            cuentas
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let account of accounts">
      <!-- estado modal inicio -->
      <div
        class="modal fade"
        id="resumeModal"
        tabindex="-1"
        aria-labelledby="resumeModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="resumeModal">Movimientos</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="rounded" *ngIf="!movementAlert">
                <table class="table table-sm text-center">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Descripcion</th>
                      <th>Movimiento Financiero</th>
                      <th>Tipo de Transaccion</th>
                      <th>Valor</th>
                      <th>Saldo disponible</th>
                    </tr>
                  </thead>
                  <tbody class="table-light">
                    <tr *ngFor="let movevement of transactions">
                      <th>{{movevement.transaction_date}}</th>
                      <th>{{movevement.description}}</th>
                      <th>{{movevement.movement_type}}</th>
                      <th>{{movevement.transaction_type}}</th>
                      <th>{{movevement.transaction_value}}</th>
                      <th>{{movevement.available_balance}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="movementAlert">
                <div class="card" style="width: auto">
                  <div class="card card-body">
                    <div class="alert alert-danger" role="alert">
                      <i class="bi bi-exclamation-octagon-fill"></i> No hay
                      Movientos disponibles
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- estado modal fin-->

      <!-- transactiones modal start-->
      <div
        class="modal fade"
        id="transactionModal"
        tabindex="-1"
        aria-labelledby="transactionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="transactionModal">
                Transacciones
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="transacctionForm">
                <div class="mb-3">
                  <div class="container text-center">
                    <div class="row row-cols-1 row-cols-sm-3">
                      <div class="col">
                        <button
                          class="btn btn-warning mb-3"
                          (click)="setType('Consignacion')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#consignacion"
                          aria-expanded="false"
                          aria-controls="consignacion"
                        >
                          <i class="bi bi-arrow-up-square-fill"></i>
                          Consignacion
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="btn btn-warning mb-3"
                          (click)="setType('Transferencia')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#transferencia"
                          aria-expanded="false"
                          aria-controls="transferencia"
                        >
                          <i class="bi bi-arrow-left-right"></i>
                          Transferencia
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="btn btn-warning"
                          (click)="setType('Retiro')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#retiro"
                          aria-expanded="false"
                          aria-controls="retiro"
                        >
                          <i class="bi bi-arrow-down-square-fill"></i> Retirar
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="collapse" id="consignacion">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Cantidad</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Descripcion</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="collapse" id="transferencia">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="id_receptor_account" class="form-label"
                          >Numero de cuenta
                        </label>
                        <input
                          class="form-control"
                          id="id_receptor_account"
                          placeholder="45612587961"
                          formControlName="id_receptor_account"
                          vame="id_receptor_account"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Cantidad a transferir</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Descripcion</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="collapse" id="retiro">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Cantidad</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Descripcion</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                data-bs-dismiss="modal"
                type="button"
                (click)="makeTransaction()"
                class="btn btn-primary"
              >
                Finalizar
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- transactiones modal end-->
      <div class="card border-primary mb-3" style="width: auto">
        <div class="card card-body">
          <div class="card-header border-primary">
            <div *ngIf="account.account_type == 'SAVING'"><h4>Ahorro</h4></div>
            <div *ngIf="account.account_type == 'CHECKING'">
              <h4>Corriente</h4>
            </div>
          </div>

          <ul class="list-group">
            <li class="list-group-item">
              Numero de cuenta: {{account.account_number}}
            </li>
            <li class="list-group-item">
              Saldo: {{account.balance+'' |  currency}}
            </li>
            <li class="list-group-item">
              Saldo disponible: {{account.available_balance+'' |  currency}}
            </li>
            <li class="list-group-item">
              <p *ngIf="account.account_state == 'ACTIVE'">Estado: Activa</p>
              <p *ngIf="account.account_state == 'INACTIVE'">
                Estado: Inactiva
              </p>
              <p *ngIf="account.account_state == 'CANCELED'">
                Estado: Cancelada
              </p>
            </li>
            <li class="list-group-item">
              Fecha de creacion: {{account.creation_date}}
            </li>
          </ul>
          <div class="card-footer text-end">
            <div class="container">
              <div class="row row-cols-auto">
                <div class="col m-1">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#resumeModal"
                    (click)="retriveMovements(account)"
                  >
                    Estado
                  </button>
                </div>
                <div class="col m-1">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#transactionModal"
                    (click)="setSender(account)"
                  >
                    Transacciones
                  </button>
                </div>
                <div class="col m-1">
                  <button
                    type="button"
                    class="btn btn-info"
                    (click)="changeState(account)"
                  >
                    Cambiar estado
                  </button>
                </div>
                <div class="col m-1">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="cancelAccount(account)"
                  >
                    Cancelar cuenta
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
