<div class="container">
  <div class="shadow rounded p-3 d-flex flex-column">
    <h1>Products</h1>

    <div
      *ngIf="createdAlert"
      type="success"
      class="alert alert-success"
      role="alert"
    >
    <i class="bi bi-check-circle-fill"></i> Account created
    </div>

    <div class="text-start py-3">
      <button
        class="btn rounded-pill btn-warning"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-controls="collapseExample"
        aria-expanded="false"
      >
        <h5><i class="bi bi-piggy-bank-fill"></i> Open Product</h5>
      </button>
    </div>

    <div class="collapse mb-5" id="collapseExample">
      <div class="card card-body">
        <form [formGroup]="accountForm">
          <div class="mb-3">
            <label class="form-label" for="account_type">Type</label>

            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="account_type"
              name="account_type"
            >
              <option value="msg">Select an option</option>
              <option value="SAVING">Saving</option>
              <option value="CHECKING">Checking</option>
            </select>
          </div>
        </form>
        <div class="mt-3">
          <button
            (click)="createAccount()"
            type="button"
            class="btn rounded-pill btn-primary"
          >
            Create
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="emptyAlert">
      <div class="card" style="width: auto">
        <div class="card card-body">
          <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-octagon-fill"></i> You don't have any accounts.
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let account of accounts">
      <!-- estado modal inicio -->
      <div
        class="modal fade"
        id="resumeModal"
        tabindex="-1"
        aria-labelledby="resumeModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="resumeModal">Activities</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="rounded" *ngIf="!movementAlert">
                <table class="table table-sm text-center">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Description</th>
                      <th>Movement type</th>
                      <th>Transaction type</th>
                      <th>Value</th>
                      <th>Available balance</th>
                    </tr>
                  </thead>
                  <tbody class="table-light">
                    <tr *ngFor="let movevement of transactions">
                      <th>{{movevement.transaction_date}}</th>
                      <th>{{movevement.description}}</th>
                      <th>{{movevement.movement_type}}</th>
                      <th>{{movevement.transaction_type}}</th>
                      <th>{{movevement.transaction_value +'' |  currency}}</th>
                      <th>{{movevement.available_balance +'' |  currency}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="movementAlert">
                <div class="card" style="width: auto">
                  <div class="card card-body">
                    <div class="alert alert-danger" role="alert">
                      <i class="bi bi-exclamation-octagon-fill"></i> No transactions yet.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn rounded-pill btn-danger"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- estado modal fin-->

      <!-- transactiones modal start-->
      <div
        class="modal fade"
        id="transactionModal"
        tabindex="-1"
        aria-labelledby="transactionModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="transactionModal">
                Transactions
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="transacctionForm">
                <div class="mb-3">
                  <div class="container text-center">
                    <div class="row row-cols-1 row-cols-sm-3">
                      <div class="col">
                        <button
                          class="btn rounded-pill btn-warning mb-3"
                          (click)="setType('Deposit')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#consignacion"
                          aria-expanded="false"
                          aria-controls="consignacion"
                        >
                          <i class="bi bi-arrow-up-square-fill"></i>
                          Deposit
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="btn rounded-pill btn-warning mb-3"
                          (click)="setType('Transfer')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#transferencia"
                          aria-expanded="false"
                          aria-controls="transferencia"
                        >
                          <i class="bi bi-arrow-left-right"></i>
                          Transfer
                        </button>
                      </div>
                      <div class="col">
                        <button
                          class="btn rounded-pill btn-warning"
                          (click)="setType('Withdrawal')"
                          type="button"
                          data-toggle="collapse"
                          data-target="#retiro"
                          aria-expanded="false"
                          aria-controls="retiro"
                        >
                          <i class="bi bi-arrow-down-square-fill"></i> Withdrawal
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="collapse" id="consignacion">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Value</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                      <button
                      data-bs-dismiss="modal"
                      type="button"
                      (click)="makeTransaction()"
                      class="btn rounded-pill btn-primary mt-3"
                    >
                      Accept
                    </button>
                    </div>
                   
                  </div>

                  <div class="collapse" id="transferencia">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="id_receptor_account" class="form-label"
                          >Account number
                        </label>
                        <input
                          class="form-control"
                          id="id_receptor_account"
                          placeholder="45612587961"
                          formControlName="id_receptor_account"
                          vame="id_receptor_account"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Value</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                      <button
                    data-bs-dismiss="modal"
                    type="button"
                    (click)="makeTransaction()"
                    class="btn rounded-pill btn-primary mt-3"
                  >
                    Accept
                  </button>
                    </div>
                    
                  </div>

                  <div class="collapse" id="retiro">
                    <div class="card card-body">
                      <div class="mb-3">
                        <label for="transaction_value" class="form-label"
                          >Value</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="transaction_value"
                          placeholder="$0"
                          formControlName="transaction_value"
                          vame="transaction_value"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          id="description"
                          rows="3"
                          formControlName="description"
                          name="description"
                        ></textarea>
                      </div>
                      <button
                    data-bs-dismiss="modal"
                    type="button"
                    (click)="makeTransaction()"
                    class="btn rounded-pill btn-primary mt-3"
                  >
                    Accept
                  </button>
                    </div>
                    
                  </div>
                 
                </div>
              </form>

            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn rounded-pill btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              
            </div>
          </div>
        </div>
      </div>

      <!-- transactiones modal end-->
      <div class="card border-primary h-100 mt-4">

        <div class="card-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active disable" *ngIf="account.account_type == 'SAVING'">Saving</a>
            <a href="#" class="list-group-item list-group-item-action active disable" *ngIf="account.account_type == 'CHECKING'">Checking</a>

            <a  class="list-group-item list-group-item-action disable">Account number: {{account.accountnumber}}</a>
            <a  class="list-group-item list-group-item-action disable">Balance: {{account.balance+'' |  currency}}</a>
            <a  class="list-group-item list-group-item-action disable"> Available balance: {{account.available_balance+'' |  currency}}</a>
            <a  class="list-group-item list-group-item-action disable" *ngIf="account.account_state == 'ACTIVE'">State: Active</a>
            <a  class="list-group-item list-group-item-action disable" *ngIf="account.account_state == 'INACTIVE'">State: Inactive</a>
            <a  class="list-group-item list-group-item-action disable" *ngIf="account.account_state == 'CANCELED'">State: Canceled</a>
            <a  class="list-group-item list-group-item-action disable">Creation date: {{account.creation_date}}</a>
            <a  class="list-group-item list-group-item-action disable" *ngIf="account.extentGMF">GMF: Extent</a>
            <a  class="list-group-item list-group-item-action disable" *ngIf="!account.extentGMF">GMF: Not Extent</a>
          </div>
          <div class="card-footer text-end">
            <div class="container">
              <div class="row row-cols-auto">
                <div class="col mr-1 mt-1">
                  <button
                    type="button"
                    class="btn-sm rounded-pill btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#resumeModal"
                    (click)="retriveMovements(account)"
                  ><i class="bi bi-bank2"></i> 
                    Activities
                  </button>
                </div>
                <div class="col mr-1 mt-1">
                  <button
                    type="button"
                    class="btn-sm rounded-pill btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#transactionModal"
                    (click)="setSender(account)"
                  ><i class="bi bi-cash-coin"></i> 
                    Transactions
                  </button>
                </div>
                <div class="col mr-1 mt-1">
                  <button
                    type="button"
                    class="btn-sm rounded-pill btn-secondary"
                    (click)="changeState(account)"
                  ><i class="bi bi-shuffle"></i> 
                    Change state
                  </button>
                </div>
                <div class="col mr-1 mt-1">
                  <button
                    type="button"
                    class="btn-sm rounded-pill btn-danger"
                    (click)="cancelAccount(account)"
                  ><i class="bi bi-x-circle-fill"></i> 
                    Cancel
                  </button>
                </div>
                <div class="col mr-1 mt-1">
                  <button
                  type="button"
                  class="btn-sm rounded-pill btn-info"
                  (click)="extentGMF(account)"
                ><i class="bi bi-award-fill"></i> 
                Extent
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      
    </div>
  </div>
</div>


