<header>
  <nav class="shadow navbar navbar-expand-lg w-100 theme">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item text-white nav-link active navbar-brand"
          routerLink="about"
          >MiBank</a
        >
        <a class="nav-item text-white nav-link" routerLink="clients">Clients</a>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet> </router-outlet>
</main>
<footer>
  <app-footer></app-footer>
</footer>
