

<div class="container-fluid text-white mt-5 ">
 
  <div class="container text-center">
    <div class="text-start py-3">
      <button type="button" class="btn btn-primary" routerLink="add"><i class="bi bi-person-plus-fill" style="font-size: 1.5rem;" ></i></button>
    </div>
    <div class="justify-content-center">
      
      
      <div class="table-responsive shadow rounded">
        
        <table class="table ">
          <thead class="table-light">
           
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Identification Type</th>
              <th scope="col">Identification</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Birthdate</th>
              <th scope="col">Creation Date</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            <td colspan="9" *ngIf="emptyAlert">
              <div class="alert alert-danger" role="alert">
                <i class="bi bi-exclamation-square-fill"></i> Lista Vacia
              </div>
            </td>
            <tr *ngFor="let item of clients">
              <th>{{ item.id }}</th>
              <th>{{ item.identificationType }}</th>
              <th>{{ item.identification }}</th>
              <th>{{ item.firstName }}</th>
              <th>{{ item.lastName }}</th>
              <th>{{ item.email }}</th>
              <th>{{ item.birthdate }}</th>
              <th>{{ item.creationDate }}</th>
              <th>
                <button
                  class="btn btn-warning"
                  routerLink="resume/{{item.id}}"
                  
                >
                <i class="bi bi-person-vcard-fill"></i> Detalles
                </button>
              </th>

              <!-- <div class="p-2 d-flex justify-content-center">
                  <button type="button" class="btn btn-info" (click)="addItem(item)">Agregar</button>
                  <button [disabled]="item.email=='INACTIVE'"> boton de prueba</button>
              </div> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
